# Entornos virtuales
venv/
env/
.venv/

# Git
.git/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos vectorial local (no queremos copiarla, Docker usará un volumen)
db_data/
chroma_data/

# Variables de entorno locales
.env